*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* all the paddings,margin are included in the width & height of the div...no need to calculate*/
}

.box {
  font-size: 2rem;
  background-color: yellow;
  border: 5px solid black;
  padding: 32px;
  /* margin: 16px; */
  margin: 20px 78px 100px 50px;
  height: 300px;
  width: 600px;
}
